.App {
  text-align: center;
  background-color: #cd5334;
}

@font-face {
  font-family: "Bebas Neue";
  src: url(./fonts/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

.animate.pop {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-duration: 0.5s;
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}



/* Disable text selection  */
.disabledSelect {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.flashcardTable {
  background-color: #17bebb;
  grid-gap: 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  /*grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));*/
  gap: 1rem;
  padding: 5%;
}
/*1fr = 100% fractional space*/

.card:hover {
  background-color: #fad8d6;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.6);
}

.card {
  font-family: "Bebas Neue", serif;
  font-size: 2em;
  background-color: #edb88b;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
  /*margin: 25%;*/
  min-height: 300px;
  max-height: 300px;
  padding: 5%;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 500ms;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.montserrat{  font-family: Montserrat, sans-serif;
}
